@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <p>@Html.ActionLink("Gerar Excel com NPOI", "GerarExcelComNPOI")</p>
    <p>@Html.ActionLink("Gerar Excel com EPPlus", "GerarExcelComEPPlus")</p>
</div>